
<form [formGroup]="userform">
<h1>Registration Page</h1>

  <input type="text" formControlName="name" placeholder="Enter name">
  <div *ngIf="userform.controls['name'].invalid && userform.controls['name'].touched">
    Name is required.
  </div>

  <input type="email" formControlName="email" placeholder="Enter email">
  <div *ngIf="userform.controls['email'].invalid && userform.controls['email'].touched">
    Enter a valid email.
  </div>
  <div *ngIf="emailExistsError" style="color: red; font-weight: bold;">
    Email already exists. Please use a different email.
  </div>

  <input type="password" formControlName="password" placeholder="Enter password">
  <div *ngIf="userform.controls['password'].invalid && userform.controls['password'].touched">
    Password must be at least 6 characters.
  </div>

  <button [disabled]="userform.invalid" (click)="regesterUser()">Submit</button>

  <a routerLink="login">click here if you already have acccount.</a>

</form>
