.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course{
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
}