<div class="container">
    <div class="subcontainer">
        
        <div *ngFor="let item of data">
            <p>{{item.title}}</p>
        </div>

    </div>
 <div (click)="toogle()" style="width: 100px; height: 100px; background-color: red;border-radius: 50%; font-size: 20px;display: flex;align-items: center;justify-content: center;">+</div>
  <div class="overlay" (click)="toogle()" *ngIf="setstatus" >
     <div  class="course" (click)="$event.stopPropagation()">
     <form [formGroup]="userForm" (ngSubmit)="onsubmit()" >
        <input type="text" formControlName="title">
        <input type="text" formControlName="subtitle">
        <input type="text" formControlName="modules">
        <input type="text" formControlName="createdBy">
        <button>submit</button>
    </form>
    <pre>{{ userForm.value | json }}</pre>
   </div>
  </div>

</div>