.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.overlay{
    width: 100%;
    height: 100%;
position: fixed;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}
.course{
    background-color: antiquewhite;
    width: 50%;
    height: 50%;
    position: absolute;
}

.subcontainer{
    width: 80%;
    height: 70%;
    background-color: rgb(170, 166, 166);
    overflow-x: scroll;
}