<div class="badge-container">
    <div class="toolbar">
        <div class="toolbar-left">
            <input class="search-input" type="text" placeholder="enter  badge name." [(ngModel)]="name" />
            <input class="filter-input" type="text" placeholder="enter info...." [(ngModel)]="info" />
              <button class="btn primary" type="button" (click)="addBadge()">Add Badge</button>
        </div>
        <!-- <div class="toolbar-right">
            <button class="btn primary" type="button" (click)="addBadge()">Add Badge</button>
        </div> -->
    </div>

    <div class="badges-grid">
        <div class="badge-card" *ngFor="let b of badges">
            <div class="badge-icon">{{ '🏅' }}</div>
            <div class="badge-body">
                <h3 class="badge-title">{{ b.name }}</h3>
                <p class="badge-desc">{{ b.info }}</p>
                <div class="badge-actions">
                    <button class="btn" (click)="viewBadge(b)">View</button>
                </div>
            </div>
        </div>
    </div>

    <div class="badge-detail" >
      <div class="badge">
        <img src="assets/pic1.png" alt="pic 1" class="img">
        <p>{{selectedBadge?.name}}</p>
        <p>{{selectedBadge?.date | date}}</p>
      </div>
      <div class="quests">
        <div *ngFor="let quest of quets">
            <p style="color: red;">{{quest.id}}</p>
            
        </div>
      </div>
    </div>
</div>