.conatiner {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    /* gap: 16px; */
    /* padding: 16px; */
    box-sizing: border-box;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: #f5f5f5;
    padding: 10px;
    /* border-radius: 8px; */
    display: flex;
    justify-content: space-between;
}

.prof-notif-container{
    display: flex;
    gap: 10px;
}
.prof-notif-container div{
    width: 50px;
    height: 50px;
    border: 1px solid;border-radius: 50%;
    text-align: center;
}

.main-conent {
    /* grid-column: 2;
    grid-row: 2;
    display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    overflow-y: auto;
}

.sidebar {
    grid-column: 1;
    grid-row: 2;
   background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    /* padding: 16px; */
    /* border-radius: 8px; */
    overflow-y: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.sidebar nav .links{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    /* justify-content: space-between; */
    gap: 20px;
    /* border: 1px solid; */
}
.sidebar nav .links a{
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    border-left: 4px solid rgb(255, 121, 11);
    /* background-color: wheat; */
}
.logout{
    width: 100%;
    padding: 10px;
    background-color: wheat;
}


.pic img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}